.background    { background: rgb(0, 0, 102);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(252, 64, 57); }
.wall          { background: rgb(0, 153, 153);   }
.cloud         { background: lightgrey;  }

.actor  { position: absolute;  }
.coin   { background: rgb(255, 255, 102); }
.player {background: rgb(204, 255, 102);}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
